---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/SeedSiargao.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/SeedSiargao.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/SeedSiargao.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/SelaAbout.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/SelaAbout.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/SelaAbout.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/KidsLearning.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/KidsLearning.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/KidsLearning.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right  cs-flex-group">
                <h2 class="cs-title">About SELA</h2>
                <p class="cs-text">
                    Siargao Experiential Learning Academy (SELA) is a school founded in November of 2024 out of a need for an effective alternative learning option on the island. Ever since, SELA has been successful in providing high-quality education through experiences, achieved in two key ways: <strong>guidance by experts</strong> and <strong>exclusivity</strong>.
                  </p>
                  
                  <p class="cs-text">
                    <strong>Guidance by experts = Quality education and experiences</strong><br><br>
                    Students go through high-quality experiences because they are guided by <strong>experts in their fields</strong>. We have external teachers and partners who guide students in various disciplines that promote practical skills, competitiveness, and discipline—fostering overall development.
                  
                    <br><br><strong>Expert-Led Activities – Once a Week, Every Month!</strong><br>
                    Because kids learn best from the best!
                    <ul>
                      <li>🍳 <strong>Cooking</strong> – A real chef comes in to teach them how to cook.</li>
                      <li>🏊 <strong>Swimming</strong> – Lessons with an experienced swim coach.</li>
                      <li>🌱 <strong>Farming</strong> – Partnered with Tropical Academy for hands-on farming.</li>
                      <li>🎨 <strong>Arts</strong> – Our specialized art teacher helps bring out their creativity.</li>
                    </ul>
                  
                    Every month, we explore a new theme and bring it to life with hands-on experiences:
                    <ul>
                      <li>🐾 <strong>Animals</strong>? We visited a petting zoo!</li>
                      <li>👩‍🍳 <strong>Food</strong>? We’re learning to cook!</li>
                      <li>🚒 <strong>Jobs</strong>? Kids meet real firefighters, police officers, nurses, and even try being a waiter at an actual restaurant!</li>
                    </ul>
                  </p>
                  
                  <p class="cs-text">
                    <strong>Exclusivity</strong><br><br>
                    We are a <strong>very exclusive group</strong> with only 10 students. Because of this, we can cater to each student's academic and behavioral goals, which are set collaboratively by the parents and the school upon enrollment. These goals are reviewed after the first week of observation to ensure they are realistic and supportive—not pressure-filled—for the student.
                  </p>
                  
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Here is a quoet from the Owners/CEO 
                    </p>
                    <span class="cs-name">Name</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
